* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 839px;
  box-sizing: border-box;
}

.navigator {
  height: 75px;
  background: #222222;
  padding-top: 18px;
  padding-bottom: 19px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: 41px;
}

.rightNav {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  margin-right: 10px;
}

.menuRight {
  margin-right: 33px;
}

.menuBasket {
  display: inline;
  position: relative;
}

.circle {
  height: 19px;
  width: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f16d7f;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  position: absolute;
  right: -9px;
  top: -9px;
}

.top {
  height: 764px;
  background: #f1e4e6;
}

.top__content {
  height: 764px;
  display: flex;
}

.back {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.top-text {
  width: 50%;
  display: flex;
  align-items: center;
}

.border {
  padding-left: 16px;
  margin-left: 64px;
  border-left: 12px solid #f16d7f;
}

.brand__text {
  width: 392px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #222222;
}

.brand {
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.brand__color {
  color: #f16d7f;
}

.main {
  padding-top: 65px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.for-women {
  display: flex;
  position: relative;
  text-align: center;
}

.photo {
  width: 100%;
  height: 100%;
}

.text__1 {
  position: absolute;
  top: 105px;
  left: 103px;
}

.link__1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.link__1:hover {
  text-decoration: underline;
}

.headering {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.for-men {
  display: flex;
  position: relative;
  text-align: center;
}

.text {
  position: absolute;
  top: 105px;
  left: 125px;
}

.for-kids {
  display: flex;
  position: relative;
  text-align: center;
}

.other {
  grid-column: 1/-1;
  display: flex;
  position: relative;
  text-align: center;
}

.text__4 {
  position: absolute;
  top: 65px;
  left: 491px;
}

.for-women:hover,
.for-men:hover,
.for-kids:hover,
.other:hover {
  box-shadow: 5px 10px 20px black;
}

.content {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
}

.content__headering {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  padding-bottom: 6px;
}

.content__text {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
  margin-bottom: 48px;
}

.parent {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 30px;
}

.b-item {
  background-color: #f8f8f8;
  box-sizing: border-box;
}

.b-item__image {
  display: flex;
  position: relative;
}

.b-item__front {
  display: block;
  width: 100%;
}

.b-item__back {
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  height: 100%;
  width: 100%;
}

.b-item__button {
  display: flex;
  background: none;
  padding: 10px;
  border: 1px solid #ffffff;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  line-height: 17px;
  color: #ffffff;
}

.b-item__button img {
  width: 26px;
  height: 24px;
  padding-right: 11px;
}

.b-item__description {
  padding: 24px 17px 20px 17px;
}

.b-item__headering {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.b-item__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding-top: 13px;
}

.b-item__cost {
  padding-top: 18px;
  color: #f16d7f;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.b-item:hover .b-item__back {
  display: flex;
}

.content__button {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  width: 211px;
  text-align: center;
  padding: 14px;
  border: 1px solid #f16d7f;
  margin-top: 49px;
  text-decoration: none;
  align-self: center;
}

.content__button:hover {
  text-decoration: none;
  background: #f16d7f;
  color: #ffffff;
}

.new-arrivals {
  min-height: 148px;
  background: #f8f3f4;
}

.new-arrivals .arrivals {
  min-height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-arrivals .arrivals__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  color: #f16d7f;
}

.new-arrivals .arrivals .arrivals__nav > a {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.new-arrivals .arrivals .arrivals__nav > a:last-of-type {
  font-weight: 700;
  color: #f16d7f;
}

.new-arrivals .arrivals .arrivals__nav > span {
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin: 0 3px;
}

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 51px 0 64px;
}

.filterLeft {
  margin-right: 319px;
}

.filterRight {
  display: flex;
}

.filterText {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-right: 10px;
}

.filterText_left {
  color: #000000;
  font-weight: bold;
}

.filter .trending > img {
  margin-bottom: 2px;
}

.filterImg {
  margin-right: 28px;
}

.men-clothing {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 30px;
}

.pagination {
  width: 283px;
  height: 43px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin: 49px auto 96px;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.pagination a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #5d5d5d;
  opacity: 0.8;
}

.pagination .arrows {
  margin-right: 16px;
  margin-left: 16px;
}

.pagination a:hover {
  color: #f16d7f;
}

.info {
  height: 341px;
  background: #222224;
  padding-top: 103px;
  box-sizing: border-box;
}

.info .aboutUs {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.info .aboutUs .services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info .aboutUs .services .info__headering {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  padding-top: 20px;
  text-align: center;
}

.info .aboutUs .services .info__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  padding-top: 16px;
  width: 360px;
}

.slider {
  height: 777px;
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
}

.slider__photo {
  height: 700px;
  width: 597px;
  align-self: flex-start;
  margin-top: 11px;
  background-image: url(../img/slider.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider__arrow {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider__arrow__link {
  width: 12px;
  height: 22px;
  display: block;
}

.slider__arrow .linkBack {
  display: none;
  position: absolute;
}

.slider__arrow:hover .linkBack {
  display: block;
}

.b-wCollection {
  height: 601px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.b-wCollection_margin {
  margin-top: -65px;
  margin-bottom: 129px;
}

.b-wCollection__header {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin-top: 65px;
}

.b-wCollection .line {
  width: 63px;
  height: 3px;
  background: #f16d7f;
  border: none;
  margin: 12px auto;
}

.b-wCollection__moschino {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  margin-bottom: 48px;
}

.b-wCollection__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
  width: 555px;
}

.b-wCollection__cost {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  margin: 32px auto 65px;
}

.b-wCollection .line__grey {
  width: 641px;
  border: 1px solid #eaeaea;
  background: #eaeaea;
  margin-bottom: 65px;
}

.b-wCollection__nav {
  display: flex;
  justify-content: center;
}

.b-wCollection__nav .filter__img {
  margin-right: 23px;
}

.b-wCollection__button {
  width: 211px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #f16d7f;
  background-color: #fff;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 49px;
}

.b-wCollection .buttonImg {
  width: 26px;
  height: 24px;
  margin-right: 23px;
  position: relative;
}

.goods {
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
  column-gap: 30px;
  margin-bottom: 128px;
}

/*page Cart*/
.shopingCart {
  height: 148px;
  background-color: #f8f3f4;
}

.shopingCart__header {
  height: 148px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.yourBasket {
  padding-top: 96px;
  padding-bottom: 129px;
  display: flex;
}

.card {
  width: 652px;
}

.cardTop {
  height: 306px;
  background: white;
  display: flex;
  filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
}

.cardTop_margin {
  margin-bottom: 40px;
}

.cardImage {
  height: inherit;
}

.cardText {
  width: 390px;
  box-sizing: border-box;
  padding: 22px 22px 22px 31px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  position: relative;
}

.cardText > h2 {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding-bottom: 42px;
  font-weight: inherit;
  width: 262px;
}

.cardText > p {
  padding-top: 6px;
}

.cardText .cardPrice {
  padding-top: 0;
}

.cardCost {
  color: #f16d7f;
}

.cardInput {
  width: 43px;
  height: 24px;
  border: 1px solid #eaeaea;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center;
  margin-left: 25px;
}

.cardClose {
  position: absolute;
  top: 28px;
  right: 22px;
}

.cardBtn {
  margin-top: 72px;
  height: 49px;
  display: flex;
  justify-content: space-between;
}

.cardBtn__all {
  padding: 16px 40px;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-family: inherit;
  text-align: center;
  color: #000000;
  background-color: #fff;
}

.resulShopping {
  width: 360px;
  padding-left: 128px;
}

.resulShopping .adress {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.resulShopping .productData {
  display: flex;
  flex-direction: column;
}

.resulShopping .productData > input {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  height: 45px;
  padding-left: 17px;
  margin-top: 21px;
}

.resulShopping .productData .input::-webkit-input-placeholder {
  color: #222222;
  font-family: inherit;
}

.resulShopping .productData .input::-moz-placeholder {
  color: #222222;
  font-family: inherit;
}

.resulShopping .productData .input:-ms-input-placeholder {
  color: #222222;
  font-family: inherit;
}

.resulShopping .productData .input:-moz-placeholder {
  color: #222222;
  font-family: inherit;
}

.resulShopping .productData > button {
  height: 34px;
  width: 100px;
  margin-top: 24px;
  margin-bottom: 58px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  font-family: inherit;
  color: #4a4a4a;
  background-color: #fff;
  border: 1px solid #a4a4a4;
}

.resulShopping .sumTotal {
  height: 214px;
  background-color: #f8f3f4;
  padding-top: 39px;
  box-sizing: border-box;
}

.resulShopping .sumTotal .summa {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  text-align: end;
  margin-right: 34px;
}

.resulShopping .sumTotal .summa > span {
  padding-left: 20px;
}

.resulShopping .sumTotal .grandTotal {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: end;
  margin: 12px 34px 21px auto;
}

.resulShopping .sumTotal .grandTotal > span {
  color: #f16d7f;
  font-weight: 700;
  padding-left: 20px;
}

.resulShopping .sumTotal > hr {
  width: 275px;
  border: 1px solid #e2e2e2;
  background-color: #e2e2e2;
  margin: 0 auto 17px auto;
}

.resulShopping .sumTotal .checkoutLink {
  display: block;
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
}

.registration {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 96px;
}

.registration .formLeft {
  display: flex;
  flex-direction: column;
}

.registration .formLeft .name {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration .formLeft .name_margin {
  margin-top: 33px;
}

.registration .formLeft .inputRegistr {
  width: 360px;
  height: 45px;
  margin-top: 21px;
  padding-left: 17px;
  border: 1px solid #a4a4a4;
}

.registration .formLeft .inputRegistr::-webkit-input-placeholder {
  color: #b1b1b1;
  font-family: inherit;
}

.registration .formLeft .inputRegistr::-moz-placeholder {
  color: #b1b1b1;
  font-family: inherit;
}

.registration .formLeft .inputRegistr:-ms-input-placeholder {
  color: #b1b1b1;
  font-family: inherit;
}

.registration .formLeft .inputRegistr:-moz-placeholder {
  color: #b1b1b1;
  font-family: inherit;
}

.registration .formLeft .radioRegistr {
  margin-top: 31px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  font-family: inherit;
  font-style: normal;
  display: flex;
  align-items: center;
}

.registration .formLeft .radioRegistr > input {
  margin-right: 10px;
  border: 1px solid #a4a4a4;
  box-sizing: border-box;
}

.registration .formLeft .radioRegistrMargin {
  margin-right: 20px;
}

.registration .formLeft .textRegistr {
  width: 360px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  margin-top: 16px;
  margin-bottom: 39px;
}

.registration .formLeft .btnRegistr {
  width: 167px;
  height: 50px;
  background-color: #f16d7f;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  transition-delay: 0.3s;
}

.registration .formLeft .btnRegistr > img {
  padding-left: 20px;
}

.registration .registrationRight {
  width: 652px;
}

.registration .registrationRightText {
  padding-top: 22px;
  padding-bottom: 5px;
}

.registration .registrationRight .commonFont {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration .registrationRight .commonFont .registrList {
  list-style-image: url(../img/sign.svg);
  padding-left: 22px;
  margin-left: 27px;
  margin-top: 16px;
}

.subscribe {
  height: 448px;
  box-sizing: border-box;
  background: url(../img/landscape.png) no-repeat;
  background-size: cover;
}

.subscribe__content {
  display: flex;
  justify-content: space-between;
}

.subscribe .aboutMe {
  padding-top: 97px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe .aboutMe__text {
  width: 360px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  padding-top: 30px;
}

.subscribe .aboutMe .italic {
  font-style: italic;
}

.subscribe .promotion {
  padding-top: 150px;
}

.subscribe .promotion__text {
  font-size: 18px;
  text-align: center;
  color: #222224;
  font-weight: 400;
  max-width: 360px;
  line-height: 30px;
}

.subscribe .promotion__text_bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
}

.subscribe .input {
  width: 256px;
  height: 49px;
  padding-left: 22px;
  background: #e1e1e1;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  border: none;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  float: left;
  margin-top: 32px;
  box-sizing: border-box;
}

.subscribe .input::-webkit-input-placeholder {
  color: #222224;
  font-family: inherit;
}

.subscribe .input::-moz-placeholder {
  color: #222224;
  font-family: inherit;
}

.subscribe .input:-ms-input-placeholder {
  color: #222224;
  font-family: inherit;
}

.subscribe .input:-moz-placeholder {
  color: #222224;
  font-family: inherit;
}

.subscribe .promotion__button {
  background: #f16d7f;
  width: 100px;
  height: 49px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  font-family: inherit;
  margin-top: 32px;
  box-sizing: border-box;
}

.footer {
  height: 79px;
  background: #222224;
  box-sizing: border-box;
}

.footer__block {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
  display: flex;
  align-items: center;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.footer__right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer .blackImg {
  display: flex;
  width: 32px;
  height: 32px;
  position: relative;
  background: #ffffff;
  justify-content: center;
  align-items: center;
}

.footer .blackImg_margin {
  margin-right: 7px;
}

.footer .whiteImg {
  display: none;
  width: inherit;
  height: inherit;
  background: #f16d7f;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.footer .blackImg:hover .whiteImg {
  display: block;
}

.footer .whiteImg > a {
  display: block;
  line-height: 32px;
  text-decoration: none;
}

/* @media (max-width: 1024px)*/
@media (max-width: 1024px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 442px;
  }
  .top {
    height: 368px;
  }
  .top__content {
    height: 368px;
  }
  .image {
    width: auto;
  }
  .border {
    padding-left: 16px;
    margin-left: 39px;
  }
  .brand__text {
    width: 295px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }
  .brand {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
  }
  .main {
    padding-top: 20px;
    gap: 20px;
  }
  .text {
    top: 42%;
    left: 25%;
  }
  .text__1 {
    top: 42%;
    left: 20%;
  }
  .text__4 {
    top: 38%;
    left: 40%;
  }
  .link__1:hover {
    text-decoration: none;
  }
  .for-women:hover,
  .for-men:hover,
  .for-kids:hover,
  .other:hover {
    box-shadow: none;
  }
  .content {
    padding-top: 155px;
    padding-bottom: 65px;
  }
  .content__headering {
    padding-bottom: 4px;
  }
  .content__text {
    margin-bottom: 73px;
  }
  .parent {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    gap: 16px;
  }
  .b-item:hover .b-item__back {
    display: flex;
  }
  .b-item__image {
    justify-content: center;
  }
  .content__button {
    margin-top: 33px;
  }
  .filter {
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 40px;
  }
  .filterLeft {
    margin-right: 0px;
  }
  .men-clothing {
    gap: 16px;
    grid-template: repeat(4, 1fr)/1fr 1fr;
  }
  .men-clothing__3 {
    display: none;
  }
  .pagination {
    margin: 40px auto 63px;
  }
  .info {
    height: 610px;
    padding-top: 48px;
  }
  .info .aboutUs {
    gap: 48px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .slider {
    height: 624px;
  }
  .slider__photo {
    height: 565px;
    width: 466px;
    align-self: center;
    margin-top: 0;
  }
  .b-wCollection {
    height: 601px;
    border-top: 0;
  }
  .b-wCollection_margin {
    margin-top: 0px;
  }
  .goods {
    grid-template: 1fr/repeat(2, 1fr);
    column-gap: 16px;
    margin-bottom: 128px;
  }
  .goods__1 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .goods__2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
  }
  .goods__3 {
    display: none;
  }
  .yourBasket {
    display: flex;
    flex-direction: column;
    padding-top: 59px;
    padding-bottom: 129px;
  }
  .card {
    width: 100%;
  }
  .cardText {
    width: 100%;
  }
  .cardClose {
    right: 24px;
  }
  .cardBtn {
    margin-top: 62px;
  }
  .resulShopping {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 65px;
  }
  .resulShopping .productData {
    width: 360px;
  }
  .resulShopping .productData > input {
    margin-top: 23px;
  }
  .resulShopping .productData > button {
    margin-bottom: 0;
  }
  .resulShopping .sumTotal {
    width: 360px;
    padding-top: 20px;
    margin-top: 39px;
  }
  .registration {
    padding-top: 40px;
  }
  .registration .registrationRight {
    width: 100%;
    padding-left: 22px;
  }
  .registration .registrationRightText {
    padding-top: 32px;
  }
  .registration .registrationRight .commonFont {
    font-size: 16px;
    line-height: 19px;
  }
  .registration .registrationRight .commonFont .registrList {
    margin-left: 27px;
    margin-top: 16px;
  }
  .subscribe {
    height: 614px;
  }
  .subscribe__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subscribe__content .aboutMe {
    padding-top: 64px;
  }
  .subscribe__content .aboutMe__text {
    padding-top: 30px;
    padding-bottom: 48px;
  }
  .subscribe__content .promotion {
    padding-top: 0;
  }
  .subscribe__content .input,
  .subscribe__content .promotion__button {
    margin-top: 27px;
  }
  .footer__left {
    margin-left: 16px;
  }
  .mobile {
    margin-right: 7px;
  }
}

/*@media (min-width: 320px) and (max-width: 667px)*/
@media (min-width: 320px) and (max-width: 667px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .header {
    height: 437px;
  }
  .rightNav {
    margin-right: 0;
  }
  .menuRight {
    margin-right: 0;
  }
  .contacts {
    display: none;
  }
  .menuBasket {
    display: none;
  }
  .top {
    height: 363px;
  }
  .top__content {
    height: 363px;
  }
  .border {
    padding-left: 15px;
    margin-left: 0;
  }
  .brand__text {
    width: 245px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 0px;
  }
  .brand {
    font-size: 38px;
    line-height: 46px;
    color: #222222;
  }
  .back {
    display: none;
  }
  .top-text {
    width: 100%;
    justify-content: center;
  }
  .main {
    padding-top: 64px;
    gap: 32px;
    grid-template: repeat(3, 248px) 111px/1fr;
  }
  .for-women,
  .for-men,
  .for-kids,
  .other {
    justify-content: center;
  }
  .text__1 {
    top: 42%;
    left: auto;
  }
  .text {
    top: 42%;
    left: auto;
  }
  .text__4 {
    top: 35%;
    left: auto;
  }
  .link__1:hover {
    text-decoration: none;
  }
  .for-women:hover,
  .for-men:hover,
  .for-kids:hover,
  .other:hover {
    box-shadow: none;
  }
  .content {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .content__headering {
    padding-bottom: 4px;
  }
  .content__text {
    margin-bottom: 65px;
  }
  .parent {
    grid-template: repeat(6, 1fr)/1fr;
    gap: 16px;
  }
  .b-item__image {
    display: flex;
    justify-content: center;
  }
  .b-item:hover .b-item__back {
    display: flex;
  }
  .content__button {
    margin-top: 41px;
  }
  .new-arrivals .arrivals {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .new-arrivals .arrivals__text {
    padding-bottom: 32px;
  }
  .filter {
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .filterLeft {
    margin-right: 0px;
  }
  .filterLeft > img {
    width: 38px;
    height: 25px;
  }
  .filterText {
    font-size: 12px;
    line-height: 14px;
    margin-right: 8px;
  }
  .filterText_left {
    display: none;
  }
  .filterRight {
    padding-bottom: 9px;
  }
  .filter .trending > img {
    margin-bottom: 1px;
  }
  .filterImg {
    margin-right: 24px;
  }
  .men-clothing {
    grid-template: 1fr/1fr;
    row-gap: 16px;
    column-gap: 8px;
  }
  .pagination {
    margin: 40px auto 65px;
  }
  .aboutUs {
    gap: 47px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .aboutUs .info__text {
    padding-top: 15px;
  }
  .slider {
    height: 624px;
  }
  .slider__photo {
    height: 454px;
    width: 374px;
    align-self: center;
    margin-top: 0;
  }
  .b-wCollection {
    height: 600px;
    border-top: 0;
  }
  .b-wCollection_margin {
    margin-top: 0px;
    margin-bottom: 64px;
  }
  .b-wCollection__moschino {
    margin-bottom: 32px;
  }
  .b-wCollection__text {
    line-height: 20px;
    width: 326px;
  }
  .b-wCollection__cost {
    font-size: 24px;
    line-height: 31px;
    margin: 32px auto 32px;
  }
  .b-wCollection .line__grey {
    width: 175px;
    margin-bottom: 50px;
  }
  .b-wCollection__nav {
    display: flex;
  }
  .b-wCollection__nav .b-wCollection__size {
    font-size: 10px;
    line-height: 12px;
  }
  .b-wCollection__nav .filterImg {
    margin-right: 25px;
  }
  .b-wCollection__button {
    margin-top: 65px;
  }
  .goods {
    grid-template: 1fr 1fr / 1fr;
    column-gap: 0;
    row-gap: 16px;
    margin-bottom: 128px;
  }
  .goods__1 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .goods__2 {
    display: none;
  }
  .goods__3 {
    display: block;
  }
  .shopingCart__header {
    justify-content: center;
  }
  .yourBasket {
    padding-top: 39px;
    padding-bottom: 96px;
  }
  .card {
    width: 100%;
  }
  .cardTop {
    height: 188px;
  }
  .cardTop_margin {
    margin-bottom: 32px;
  }
  .cardImage {
    height: inherit;
  }
  .cardText {
    width: 100%;
    padding: 13px 12px 12px 17px;
    font-size: 14px;
    line-height: 17px;
  }
  .cardText > h2 {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 26px;
    width: 143px;
  }
  .cardText > p {
    padding-top: 4px;
  }
  .cardInput {
    width: 24px;
    height: 15px;
    font-size: 10px;
    line-height: 12px;
    margin-left: 15px;
  }
  .cardClose {
    top: 17px;
    right: 12px;
    width: 10px;
    height: 11px;
  }
  .cardBtn {
    margin-top: 30px;
    height: 33px;
  }
  .cardBtn__all {
    padding: 9px 17px;
    font-size: 12px;
    line-height: 14px;
  }
  .resulShopping {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }
  .resulShopping .productData {
    width: 100%;
  }
  .resulShopping .productData > button {
    margin-bottom: 49px;
  }
  .resulShopping .sumTotal {
    width: 100%;
    margin-top: 0;
  }
  .registration {
    flex-direction: column;
    justify-content: none;
    padding-top: 40px;
  }
  .registration .formLeft .inputRegistr {
    width: inherit;
  }
  .registration .formLeft .textRegistr {
    width: inherit;
  }
  .registration .registrationRight {
    width: inherit;
    padding-top: 40px;
    padding-left: 0;
  }
  .registration .registrationRightText {
    padding-top: 32px;
  }
  .subscribe {
    height: 550px;
  }
  .subscribe__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutMe {
    padding-top: 64px;
  }
  .aboutMe > img {
    width: 92px;
  }
  .aboutMe__text {
    width: 343px;
    font-size: 18px;
    line-height: 22px;
  }
  .promotion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0px;
  }
  .promotion__text {
    font-size: 14px;
    max-width: 271px;
    line-height: 22px;
    text-align: center;
  }
  .promotion .promotion__text_bold {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
  }
  .promotion > form {
    display: flex;
  }
  .promotion > form .input {
    width: 230px;
    height: 47px;
    padding-left: 21px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    margin-top: 22px;
  }
  .promotion > form .promotion__button {
    width: 97px;
    height: 47px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    margin-top: 22px;
  }
  .footer {
    height: 143px;
  }
  .footer__block {
    height: inherit;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    padding-top: 49px;
    padding-bottom: 9px;
  }
}
/*# sourceMappingURL=style.css.map */