* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 839px;
  box-sizing: border-box;
}

.navigator {
  height: 75px;
  background: #222222;
  padding-top: 18px;
  padding-bottom: 19px;
  box-sizing: border-box;
}

.navigator .nav {
  display: flex;
  justify-content: space-between;
}

.navigator .logo {
  margin-right: 41px;
}

.navigator .rightNav {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  margin-right: 10px;
}

.navigator .rightNav .menu__right {
  margin-right: 33px;
}

.navigator .rightNav .menu__bascket {
  display: inline;
  position: relative;
}

.navigator .rightNav .menu__bascket .circle {
  height: 19px;
  width: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f16d7f;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  position: absolute;
  right: -9px;
  top: -9px;
}

.top {
  height: 764px;
  background: #f1e4e6;
}

.top__content {
  height: 764px;
  display: flex;
}

.back {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.top-text {
  width: 50%;
  display: flex;
  align-items: center;
}

.border {
  padding-left: 16px;
  margin-left: 64px;
  border-left: 12px solid #f16d7f;
}

.brand__text {
  width: 392px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #222222;
}

.brand {
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.brand__color {
  color: #f16d7f;
}

.main {
  padding-top: 65px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.for-women {
  display: flex;
  position: relative;
  text-align: center;
}

.photo {
  width: 100%;
  height: 100%;
}

.text__1 {
  position: absolute;
  top: 105px;
  left: 103px;
}

.link__1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.link__1:hover {
  text-decoration: underline;
}

.headering {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.for-men {
  display: flex;
  position: relative;
  text-align: center;
}

.text {
  position: absolute;
  top: 105px;
  left: 125px;
}

.for-kids {
  display: flex;
  position: relative;
  text-align: center;
}

.other {
  grid-column: 1/-1;
  display: flex;
  position: relative;
  text-align: center;
}

.text__4 {
  position: absolute;
  top: 65px;
  left: 491px;
}

.for-women:hover,
.for-men:hover,
.for-kids:hover,
.other:hover {
  box-shadow: 5px 10px 20px black;
}

.content {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
}

.content__headering {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  padding-bottom: 6px;
}

.content__text {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
  margin-bottom: 48px;
}

.parent {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 30px;
}

.item {
  background-color: #f8f8f8;
  box-sizing: border-box;
}

.item__image {
  display: flex;
  position: relative;
}

.block__image {
  display: block;
  width: 100%;
}

.back__image {
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  height: 100%;
  width: 100%;
}

.button {
  display: flex;
  background: none;
  padding: 10px;
  border: 1px solid #ffffff;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  line-height: 17px;
  color: #ffffff;
}

.button img {
  width: 26px;
  height: 24px;
  padding-right: 11px;
}

.padding {
  padding: 24px 17px 20px 17px;
}

.card__headering {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding-top: 13px;
}

.card__cost {
  padding-top: 18px;
  color: #f16d7f;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.item:hover .back__image {
  display: flex;
}

.content__button {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  width: 211px;
  text-align: center;
  padding: 14px;
  border: 1px solid #f16d7f;
  margin-top: 49px;
  text-decoration: none;
  align-self: center;
}

.content__button:hover {
  text-decoration: none;
  background: #f16d7f;
  color: #ffffff;
}

.new-arrivals {
  min-height: 148px;
  background: #f8f3f4;
}

.new-arrivals .arrivals {
  min-height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-arrivals .arrivals__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  color: #f16d7f;
}

.new-arrivals .arrivals .arrivals__nav > a {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.new-arrivals .arrivals .arrivals__nav > a:last-of-type {
  font-weight: 700;
  color: #f16d7f;
}

.new-arrivals .arrivals .arrivals__nav > span {
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin: 0 3px;
}

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 51px 0 64px;
}

.filter__left {
  margin-right: 319px;
}

.filter__right {
  display: flex;
}

.filter__text {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-right: 10px;
}

.filter__text_left {
  color: #000000;
  font-weight: bold;
}

.filter .trending > img {
  margin-bottom: 2px;
}

.filter .filter__img {
  margin-right: 28px;
}

.men-clothing {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 30px;
}

.pagination {
  width: 283px;
  height: 43px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin: 49px auto 96px;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.pagination a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #5d5d5d;
  opacity: 0.8;
}

.pagination .arrows {
  margin-right: 16px;
  margin-left: 16px;
}

.pagination a:hover {
  color: #f16d7f;
}

.info {
  height: 341px;
  background: #222224;
  padding-top: 103px;
  box-sizing: border-box;
}

.info .aboutUs {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.info .aboutUs .services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info .aboutUs .services .info__headering {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  padding-top: 20px;
  text-align: center;
}

.info .aboutUs .services .info__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  padding-top: 16px;
  width: 360px;
}

.slider {
  height: 777px;
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
}

.slider__photo {
  height: 700px;
  width: 597px;
  align-self: flex-start;
  margin-top: 11px;
  background-image: url(../img/slider.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider__arrow {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider__arrow__link {
  width: 12px;
  height: 22px;
  display: block;
}

.slider__arrow .link__back {
  display: none;
  position: absolute;
}

.slider__arrow:hover .link__back {
  display: block;
}

.women-collection {
  height: 601px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -65px;
  margin-bottom: 129px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.women-collection .coll__headering {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin-top: 65px;
}

.women-collection .line {
  width: 63px;
  height: 3px;
  background: #f16d7f;
  border: none;
  margin: 12px auto;
}

.women-collection .coll__moschino {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  margin-bottom: 48px;
}

.women-collection .coll__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
  width: 555px;
}

.women-collection .coll__cost {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  margin: 32px auto 65px;
}

.women-collection .line__grey {
  width: 641px;
  border: 1px solid #eaeaea;
  background: #eaeaea;
  margin-bottom: 65px;
}

.women-collection .coll__nav {
  display: flex;
  justify-content: center;
}

.women-collection .coll__nav .filter__img {
  margin-right: 23px;
}

.women-collection .coll__button {
  width: 211px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #f16d7f;
  background-color: #fff;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 49px;
}

.women-collection .button_img {
  width: 26px;
  height: 24px;
  margin-right: 23px;
  position: relative;
}

.goods {
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
  column-gap: 30px;
  margin-bottom: 128px;
}

.subscribe {
  height: 448px;
  box-sizing: border-box;
  background: url(../img/landscape.png) no-repeat;
  background-size: cover;
}

.subscribe__content {
  display: flex;
  justify-content: space-between;
}

.subscribe .aboutMe {
  padding-top: 97px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe .aboutMe__text {
  width: 360px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  padding-top: 30px;
}

.subscribe .aboutMe .italic {
  font-style: italic;
}

.subscribe .promotion {
  padding-top: 150px;
}

.subscribe .subscribe__text {
  font-size: 18px;
  text-align: center;
  color: #222224;
  font-weight: 400;
  max-width: 360px;
  line-height: 30px;
}

.subscribe .text__bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
}

.subscribe .input {
  width: 256px;
  height: 49px;
  padding-left: 22px;
  background: #e1e1e1;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  border: none;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  float: left;
  margin-top: 32px;
  box-sizing: border-box;
}

.subscribe .input::-webkit-input-placeholder {
  color: #222224;
  font-family: inherit;
}

.subscribe .input::-moz-placeholder {
  color: #222224;
  font-family: inherit;
}

.subscribe .input:-ms-input-placeholder {
  color: #222224;
  font-family: inherit;
}

.subscribe .input:-moz-placeholder {
  color: #222224;
  font-family: inherit;
}

.subscribe .button__subscribe {
  background: #f16d7f;
  width: 100px;
  height: 49px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  font-family: inherit;
  margin-top: 32px;
  box-sizing: border-box;
}

.footer {
  height: 79px;
  background: #222224;
  box-sizing: border-box;
}

.footer__block {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
  display: flex;
  align-items: center;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.footer__right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer .black__img {
  display: flex;
  width: 32px;
  height: 32px;
  position: relative;
  background: #ffffff;
  justify-content: center;
  align-items: center;
}

.footer .black__img_margin {
  margin-right: 7px;
}

.footer .white__img {
  display: none;
  width: inherit;
  height: inherit;
  background: #f16d7f;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.footer .black__img:hover .white__img {
  display: block;
}

.footer .white__img > a {
  display: block;
  line-height: 32px;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 442px;
  }
  .top {
    height: 368px;
  }
  .top__content {
    height: 368px;
  }
  .image {
    width: auto;
  }
  .border {
    padding-left: 16px;
    margin-left: 39px;
  }
  .brand__text {
    width: 295px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }
  .brand {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
  }
  .main {
    padding-top: 20px;
    gap: 20px;
  }
  .text {
    top: 42%;
    left: 25%;
  }
  .text__1 {
    top: 42%;
    left: 20%;
  }
  .text__4 {
    top: 38%;
    left: 40%;
  }
  .link__1:hover {
    text-decoration: none;
  }
  .for-women:hover,
  .for-men:hover,
  .for-kids:hover,
  .other:hover {
    box-shadow: none;
  }
  .content {
    padding-top: 155px;
    padding-bottom: 65px;
  }
  .content__headering {
    padding-bottom: 4px;
  }
  .content__text {
    margin-bottom: 73px;
  }
  .parent {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    gap: 16px;
  }
  .item:hover .back__image {
    display: flex;
  }
  .item__image {
    justify-content: center;
  }
  .content__button {
    margin-top: 33px;
  }
  .filter {
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 40px;
  }
  .filter__left {
    margin-right: 0px;
  }
  .men-clothing {
    gap: 16px;
    grid-template: repeat(4, 1fr)/1fr 1fr;
  }
  .men-clothing .item_3 {
    display: none;
  }
  .pagination {
    margin: 40px auto 63px;
  }
  .info {
    height: 610px;
    padding-top: 48px;
  }
  .info .aboutUs {
    gap: 48px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .slider {
    height: 624px;
  }
  .slider__photo {
    height: 565px;
    width: 466px;
    align-self: center;
    margin-top: 0;
  }
  .women-collection {
    height: 601px;
    margin-top: 0px;
    border-top: 0;
  }
  .goods {
    grid-template: 1fr/repeat(2, 1fr);
    column-gap: 16px;
    margin-bottom: 128px;
  }
  .goods .item__6 {
    display: none;
  }
  .subscribe {
    height: 614px;
  }
  .subscribe__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subscribe__content .aboutMe {
    padding-top: 64px;
  }
  .subscribe__content .aboutMe__text {
    padding-top: 30px;
    padding-bottom: 48px;
  }
  .subscribe__content .promotion {
    padding-top: 0;
  }
  .subscribe__content .input,
  .subscribe__content .button__subscribe {
    margin-top: 27px;
  }
  .footer__left {
    margin-left: 16px;
  }
  .margin_mobile {
    margin-right: 7px;
  }
}

@media (min-width: 320px) and (max-width: 667px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .header {
    height: 437px;
  }
  .rightNav {
    margin-right: 0;
  }
  .menu__right {
    margin-right: 0;
  }
  .contacts {
    display: none;
  }
  .menu__bascket {
    display: none;
  }
  .top {
    height: 363px;
  }
  .top__content {
    height: 363px;
  }
  .border {
    padding-left: 15px;
    margin-left: 0;
  }
  .brand__text {
    width: 245px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 0px;
  }
  .brand {
    font-size: 38px;
    line-height: 46px;
    color: #222222;
  }
  .back {
    display: none;
  }
  .top-text {
    width: 100%;
    justify-content: center;
  }
  .main {
    padding-top: 64px;
    gap: 32px;
    grid-template: repeat(3, 248px) 111px/1fr;
  }
  .for-women,
  .for-men,
  .for-kids,
  .other {
    justify-content: center;
  }
  .text__1 {
    top: 42%;
    left: auto;
  }
  .text {
    top: 42%;
    left: auto;
  }
  .text__4 {
    top: 35%;
    left: auto;
  }
  .link__1:hover {
    text-decoration: none;
  }
  .for-women:hover,
  .for-men:hover,
  .for-kids:hover,
  .other:hover {
    box-shadow: none;
  }
  .content {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .content__headering {
    padding-bottom: 4px;
  }
  .content__text {
    margin-bottom: 65px;
  }
  .parent {
    grid-template: repeat(6, 1fr)/1fr;
    gap: 16px;
  }
  .item__image {
    display: flex;
    justify-content: center;
  }
  .item:hover .back__image {
    display: flex;
  }
  .content__button {
    margin-top: 41px;
  }
  .new-arrivals .arrivals {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .new-arrivals .arrivals__text {
    padding-bottom: 32px;
  }
  .filter {
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .filter__left {
    margin-right: 0px;
  }
  .filter__left > img {
    width: 38px;
    height: 25px;
  }
  .filter__text {
    font-size: 12px;
    line-height: 14px;
    margin-right: 8px;
  }
  .filter__text_left {
    display: none;
  }
  .filter__right {
    padding-bottom: 9px;
  }
  .filter .trending > img {
    margin-bottom: 1px;
  }
  .filter .filter__img {
    margin-right: 24px;
  }
  .men-clothing {
    grid-template: 1fr/1fr;
    row-gap: 16px;
    column-gap: 8px;
  }
  .pagination {
    margin: 40px auto 65px;
  }
  .aboutUs {
    gap: 47px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .aboutUs .info__text {
    padding-top: 15px;
  }
  .slider {
    height: 624px;
  }
  .slider__photo {
    height: 454px;
    width: 374px;
    align-self: center;
    margin-top: 0;
  }
  .women-collection {
    height: 600px;
    margin-top: 0px;
    margin-bottom: 64px;
    border-top: 0;
  }
  .women-collection .coll__moschino {
    margin-bottom: 32px;
  }
  .women-collection .coll__text {
    line-height: 20px;
    width: 326px;
  }
  .women-collection .coll__cost {
    font-size: 24px;
    line-height: 31px;
    margin: 32px auto 32px;
  }
  .women-collection .line__grey {
    width: 175px;
    margin-bottom: 50px;
  }
  .women-collection .coll__nav {
    display: flex;
  }
  .women-collection .coll__nav .coll__size {
    font-size: 10px;
    line-height: 12px;
  }
  .women-collection .coll__nav .filter__img {
    margin-right: 25px;
  }
  .women-collection .coll__button {
    margin-top: 65px;
  }
  .goods {
    grid-template: 1fr 1fr / 1fr;
    column-gap: 0;
    row-gap: 16px;
    margin-bottom: 128px;
  }
  .goods .item__6 {
    display: block;
  }
  .goods .item__3 {
    display: none;
  }
  .subscribe {
    height: 550px;
  }
  .subscribe__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutMe {
    padding-top: 64px;
  }
  .aboutMe > img {
    width: 92px;
  }
  .aboutMe__text {
    width: 343px;
    font-size: 18px;
    line-height: 22px;
  }
  .promotion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0px;
  }
  .promotion .subscribe__text {
    font-size: 14px;
    max-width: 271px;
    line-height: 22px;
    text-align: center;
  }
  .promotion .text__bold {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
  }
  .promotion > form {
    display: flex;
  }
  .promotion > form .input {
    width: 230px;
    height: 47px;
    padding-left: 21px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    margin-top: 22px;
  }
  .promotion > form .button__subscribe {
    width: 97px;
    height: 47px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    margin-top: 22px;
  }
  .footer {
    height: 143px;
  }
  .footer__block {
    height: inherit;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    padding-top: 49px;
    padding-bottom: 9px;
  }
}
/*# sourceMappingURL=style.css.map */